*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background: #fff;
}
.wrapper .header{
    z-index: 1;
    background: #E1A84B;
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;

}
.wrapper .header .header-menu{
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.wrapper .header .header-menu .title{
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
}
.wrapper .header .header-menu .title span{
	color: #004F5D;

}
.wrapper .header .header-menu .sidebar-btn{
    color: white;
    position: absolute;
    margin-left: 210px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;

}
.wrapper .header .header-menu .sidebar-btn:hover{
    color: #004F5D;
}
.wrapper .header .header-menu ul{
    display: flex;
}
.wrapper .header .header-menu ul li a{
    background: #fff;
    color: #000;
    display: block;
    margin: 0 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: background, color;
}
.wrapper .header .header-menu ul li a:hover{
    background: #004F5D;
    color: #fff;

}
.wrapper .sidebar{
    z-index: 1;
    background: #E1A84B;
    position: fixed;
    top: 70px;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
}
.wrapper .sidebar .sidebar-menu{
    overflow: hidden;

}
.wrapper .sidebar .sidebar-menu .profile img{
    margin: 20px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.wrapper .sidebar .sidebar-menu .profile p{
    color: #000;
    font-weight: 600;
    margin-bottom: 10px;
}
.wrapper .sidebar .sidebar-menu .item{
    width: 250px;
    overflow: hidden;
}
.wrapper .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #000;
    position: relative;
    padding: 10px 20px;
    transition: 0.3s;
    transition-property: color;
}
.wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
    color: #fff;
    background: #004F5D;
}
.wrapper .sidebar .sidebar-menu .item .menu-btn i{
    margin: 20px;
} 
.wrapper .main-container{
    width: (100% - 250px);
    margin-top: 70px;
    margin-left: 250px;
    padding: 15px;
    background-size: cover;
    height: 100vh;
    transition: 0.3s;
}

/* */

.card {
	padding: 15px 15px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 25px;
	transition: 0.2s;
	float: left;
	width: 40%;
	margin: 0px 15px 30px 15px;	
	height: 420px;
}
.main-container h1{
    text-align: center;
}
.card a{
	text-decoration: none;
	color: inherit;
}
.card p{
	font-size: 14px;
}
.part2{
	height: 22px;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.imgHotel {
    width:  100%;
    height: 250px;
    object-fit: cover;
}
.cardGrid{
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* */

.previous {
	color: black;
}
  
.next {
	color: black;
}
